[submodule "Insight/vendor/assimp"]
	path = Insight/vendor/assimp
	url = https://github.com/assimp/assimp
[submodule "Insight/vendor/optick"]
	path = Insight/vendor/optick
	url = https://github.com/bombomby/optick.git
[submodule "Insight/vendor/imgui"]
	path = Insight/vendor/imgui
	url = https://github.com/I-Hudson/imgui
	branch = docking
[submodule "Insight/vendor/json"]
	path = Insight/vendor/json
	url = https://github.com/nlohmann/json
[submodule "InsightEditor/vendor/ImGui-Addons"]
	path = InsightEditor/vendor/ImGui-Addons
	url = https://github.com/gallickgunner/ImGui-Addons
[submodule "InsightEditor/vendor/IconFontCppHeaders"]
	path = InsightEditor/vendor/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders
[submodule "Insight/vendor/IconFontCppHeaders"]
	path = Insight/vendor/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders
[submodule "Insight/vendor/glslang"]
	path = Insight/vendor/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "Insight/vendor/VulkanMemoryAllocator"]
	path = Insight/vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "Insight/vendor/Reflect"]
	path = Insight/vendor/Reflect
	url = https://github.com/I-Hudson/Reflect.git
	branch = master
[submodule "Insight/vendor/stb"]
	path = Insight/vendor/stb
	url = https://github.com/nothings/stb
[submodule "Insight/vendor/ImGuizmo"]
	path = Insight/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "Insight/vendor/JobSystem"]
	path = Insight/vendor/JobSystem
	url = https://github.com/I-Hudson/JobSystem.git
[submodule "Insight/vendor/SPIRV-Reflect"]
	path = Insight/vendor/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
[submodule "Insight/vendor/OpenFBX"]
	path = Insight/vendor/OpenFBX
	url = https://github.com/nem0/OpenFBX
[submodule "Insight/vendor/tinygltf"]
	path = Insight/vendor/tinygltf
	url = https://github.com/syoyo/tinygltf
